{% extends 'blog/base.html' %}

{% block main_area %}

    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
            <a href="/blog/create_post/" class="btn btn-info btn-sm float-right">
                <i class="fa-solid fa-pencil"></i>
                &nbsp; &nbsp;
                New Post
            </a>
        {% endif %}
    {% endif %}

    <h1>Blog {% if category %}<span class="badge badge-secondary">{{ category }}</span>{% endif %}
    {% if tag %}<span class="badge badge-light"><i class="fa-solid fa-tags"></i>{{ tag }}</span>{% endif %}</h1>

    {% if post_list.exists %}
    {% for p in post_list %}
    <!-- Featured blog post-->
    <div class="card mb-4" id="post-{{ p.pk }}">
        {% if p.head_image %}
            <a href="#!"><img class="card-img-top" width="800" height="600" src="{{ p.head_image.url }}" alt="..." /></a>
        {% else %}
            <a href="#!"><img class="card-img-top" src="https://picsum.photos/seed/{{ p.pk }}/800/600" alt="..." /></a>
        {% endif %}

        <div class="card-body">
            <div class="small text-muted">{{ p.created_at }}</div>
            <a href="#">{{ p.author | upper }}</a>

            {% if p.category %}
                <span class="badge badge-secondary float-right">{{ p.category }}</span>
            {% else %}
                <span class="badge badge-secondary float-right">미분류</span>
            {% endif %}
            <h2 class="card-title">by {{ p.title }}</h2>

            {% if p.hook_text %}
                <h4 class="font-italic text-primary"> {{ p.hook_text }}</h4>
            {% endif %}
            <p class="card-text">{{ p.content | truncatewords:45 }}</p>

            {% if p.tags.exists %}
                <i class="fa-solid fa-tags"></i>
                {% for tag in p.tags.iterator %}
                    <a href="{{ tag.get_absolute_url }}"><span class="badge badge-pill badge-light">{{ tag }}</span></a>
                {% endfor %}
                <br>
                <br>
            {% endif %}

            <a class="btn btn-primary" href="{{p.get_absolute_url}}">Read more →</a>
        </div>
    </div>
    {% endfor %}
{% else %}
    <h3>아직 게시물이 없습니다!</h3>
{% endif %}

<!-- Pagination-->
<nav aria-label="Pagination">
    <ul class="pagination justify-content-center my-4">
        <li class="page-item"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&larr;Newer</a></li>
        <li class="page-item"><a class="page-link" href="#!">Older&rarr;</a></li>
    </ul>
</nav>
{% endblock %}